<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title">ere</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta" about="meta"/>
        <link rel="shortcut icon" href="resources/images/exist_icon_16x16.ico"/>
        <link rel="stylesheet" type="text/css" href="resources/css/exist-2.2.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <script type="text/javascript" src="resources/scripts/bootstrap.bundle.min.js"/>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="navbar">
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="cities.html">Cities</a>
                        </li>
                        <li>
                            <a href="cvrs.html">CVRs</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="content" class="row"/>
        </div>
        
        <div id="footer">
            <div class="container">
                <ul>
                    <li>
                        <a href="http://trustthevote.org">Trustthevote.org</a>
                    </li>
                </ul>

            </div>
        </div>
    </body>
</html>